body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: deepskyblue;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: translateY(-100%) rotate(90deg);
  transform-origin: bottom left;
}

.rotate270 {
  transform: rotate(-90deg);
}

.cardcontainer {
  position: relative;
  padding: 0px;
  border: none;
  width: 3.5in;
  height: 2.25in;
  margin: 0px 0px 0px 0px;
}

.cardbody {
  position: relative;
  padding: 0px;
  border: none;
  width: 3.5in;
  height: 2.25in;
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.cardbody .thumb {
  margin: 10px 0px 10px 10px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: black;
  border-radius: 3%;
  box-shadow: 5px 5px 4px 0px #666;
  position: absolute;
  float: left;
  z-index: 3;
  height: 1.5in;
  width: 1.25in;
}

.cardbody .header {
  height: 0.75in;
  width: 3.5in;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.cardbody .details {
  float: right;
  width: 2.2in;
}

.cardbody h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 550;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #8b1812;
}

.cardbody h3 {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.card {
  width: 2.25in;
  height: 3.5in;
}

#cards {
  position: relative;
  overflow: hidden;
  margin: 397px 0px 2.375in 0px;
  padding: 0px;
  border: none;
  width: 473px;
  height: 3.5in;
  background-color: dimgray;
}

#card1 {
  margin-left: 25px;
  background-color: snow;
  float: left;
}

#card2 {
  margin: 0px 0px 0px 0px;
  background-color: rgb(51, 38, 170);
  float: left;
  margin-left: 15px;
}
